.popup__close-button {
    background: url('../../../images/icon/close__vector.svg') no-repeat;
    position: absolute;
    background-position: center;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    left: calc(100% - ( 50% - 223px));
    top: -40px;
}

@media screen  and (max-width: 596px) {
    .popup__close-button {
        background: url('../../../images/icon/close__vector-mob.svg') no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        top: -36px;
        left: calc(100% - ( 50% - 121px));
        }
    }

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}